/*
 Theme Name:   Anud Publisho
 Theme URI:    http://comsep.ru/anud-publisho/
 Description:  Anud Publisho Theme (Publisho Child)
 Author:       Vitaliy Shiegin
 Author URI:   http://comsep.ru
 Template:     publisho
 Version:      0.0.3
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         
 Text Domain:  anud-publisho
*/

.entry-content .attachment-post-thumbnail {
    -display: none;
}

.tribe-bar-disabled {
    display: none;
}

#site-navigation {
    box-shadow: none;
}

/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,900&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Ledger&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=cyrillic');


.site-title {
    -font-family: 'Montserrat', sans-serif;
    -font-family: 'Montserrat Alternates', sans-serif;
    -font-family: 'Kurale', serif;
    font-family: 'Vollkorn', serif;

    -font-family: 'Ledger', serif;
    -font-family: 'PT Serif', serif;
    -font-family: 'PT Serif Caption', serif;

    font-weight: normal !important;
    text-transform: none;
    -text-shadow: 0px 0px 15px red;
    -text-shadow: 0px 0px 15px yellow;
    -text-shadow: 2px 2px 15px #ee8822;
    text-shadow: 1px 1px 2px black, 2px 2px 15px #ee9933;
    -text-shadow: 0px 0px 2px black, 0px 0px 15px red;
    -text-shadow: 0px 0px 2px black;
}

.site-description {
    font-family: 'Vollkorn', serif;
}

.menu-item {
    font-family: 'Vollkorn', serif;
}


.site-content {
    padding: 10px 0 !important;
}

h1.entry-title {
    font-size: 36px !important;
}

.entry-header {
    margin: 0px 0px !important;
}

.panel-content .wrap {
    padding: 10px 0 !important;
}

*/




/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Prata&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic');


.content {
    padding-top: 0px;
    padding-bottom: 0px;
}

h1,h2,h3,h4,h5,h6 {
        font-family: "Open Sans", sans-serif;
}

.mythemes-page-header nav li:first-child:before{
    padding: 0px;
}
*/

/*
.hhome-menu {
    background-image: url('http://www.example.com/wp-content/uploads/2014/12/home.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 5px;
}
*/

.lang_flag.lang_flag_mobile {
    text-align: right;
    padding: 15px !important;
}
.lang_flag.lang_flag_desktop {
    display: none;
}
.lang_flag img {
    width: 20px;
}

@media screen and (min-width: 769px) {
    .lang_flag.lang_flag_desktop {
        display: block;
    }
    .lang_flag.lang_flag_desktop img {
        -width: 20px;
        -width: 140%;
    }
}

/*
.top-notice {
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } };
    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } };
    ooopacity:0;
}
*/

/*
.top-notice {
    text-decoration: underline !important;
    color: green;
}
.top-notice a {
    text-decoration: underline !important;
    color: green !important;
}
*/

.top-notice {
    height: 100%;
    bborder: thin solid red;
    line-height: 125%;
    -line-height: 170%;
}

.top-notice .top-notice-title {
    color: #d02030;
    font-weight: bold;
}

.top-notice ul {
    margin: 5px 0px 5px 10px;
}
.top-notice li {
    -margin: 5px;
    -border: thin solid red;
    list-style: disc;
    margin: 10px;
}

.top-notice li.top-notice-prize {
    list-style-image: url('/wp-content/uploads/2019/02/ostryakov_medal_12x12.png') !important;
}
.top-notice li.top-notice-anud {
    list-style-image: url('/wp-content/uploads/2019/02/anud_logo_12x12.png') !important;
}

.top-notice a {
    -text-decoration: underline !important;
    Ñcolor: green !important;
}

.themonic-logo {
    padding: 12px;
}

@media screen and (max-width: 768px) {
    .themonic-logo {
        -text-align: left;
        padding: 5px;
        margin: 0;
        -background-color: #f5f5f5;
    }
    .themonic-logo img {
        height: 56px;
        width: inherit;
    }
    .head-widget-area {
        float: left;
    }


    .pmt-head-widget {
        padding: 20px 20px 20px 20px;
        -text-align: center;
    }
    .pmt-head-widget .box-container {
        -position: relative;
        -top: 0;
        -padding: 3%;
        text-align: left;
    }

    .pmt-head-widget .box-container ul {
         -margin: 5px 5px 5px 10px;
    }
    .pmt-head-widget .box-container li {
        list-style: disc;
        -margin: 10px;
    }
    .pmt-head-widget .box-container li.list-item-prize {
        -list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/ostryakov_medal_12x12.png');
    }
    .pmt-head-widget .box-container li.list-item-anud {
        -list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/anud_logo_12x12.png');
    }
    
    .pmt-head-widget .entry-title {
        text-align: left;
        -padding-left: 20px;
    }

}

.pmt-head-widget .box-container li {
    list-style: disc;
    -margin: 10px;
}




.title-alert {
    color: #d02030;
}


/*
.menu-item-with-medal > a {
    position: relative;
    padding-left: 22px !important;
}
.menu-item-with-medal > a:before {
    position: absolute;
    top: 4px;
    left: 2px;
    content:url('https://acanud.ru/wp-content/uploads/2019/02/ostryakov_medal_18x18.png')
}
*/


h1.entry-title {
    padding-top: 20px !important;
    padding-bottom: 15px !important;
}

.entry-content h2 {
    font-size: 20px;
}

.entry-content h2,
.entry-content h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.entry-content ul {
    margin-bottom: 8px;
}

h1.entry-title,
h2.entry-title,
.entry-content h2,
.entry-content h3 {
    -opacity: 0.6 !important;
    -text-transform: uppercase !important;
    color: #07345b;
}



.widget_nav_menu .current_page_item,
.widget_categories .current-cat {
    -background-color: #07345b;
    -background-color: #0099ff;
    color: #ffffff !important;
}
.widget_nav_menu .current_page_item a,
.widget_categories .current-cat a {
    -background-color: #07345b;
    background-color: #0099ff;
    color: #ffffff !important;
    font-weight: bold;
}
.widget_nav_menu .menu-item-object-page,
.widget_categories .cat-item,
.widget_nav_menu .menu-item {
    padding: 0px!important;
}
.widget_nav_menu .menu-item-object-page a,
.widget_categories .cat-item a,
.widget_nav_menu .menu-item a {
    text-transform: uppercase;
    ppadding-left: 7px;
    padding: 7px;
    -display: inline-block;
    display: block;
    font-size: 12px!important;
}
.widget_nav_menu .menu-item-object-page a:hover,
.widget_categories .cat-item a:hover,
.widget_nav_menu .menu-item a:hover {
    color: #ffffff !important;
    background-color: #0099ff !important;
}
/*
.menu-item-object-page a:hover {
    color: #ffffff !important;
    background-color: #0099ff!important;
}
*/

/*
.top-menu .current-page-ancestor,
.top-menu .current-menu-item {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.top-menu .current-page-ancestor a,
.top-menu .current-menu-item a {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
*/

/*
.top-menu .current-menu-item {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.top-menu .current-menu-item a {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
*/



/*
#main.wrapper {
    position: relative!important;
}
.wwidget-area {
    position: sticky;
    top: 0;
}

#recent-posts-2 {
    position: sticky!important;
    top: 0!important;
}
*/


#primary.site-content.frontpage {
    margin: 0;
    -margin: 2px;
    padding: 0;
    width: 100%;
    border: none;
}
#primary.site-content.frontpage .entry-header {
    -display: none;
}
#main.wrapper.frontpage {
    -border: 0;
}



/*
.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover span.overlay {
    -width: 120px !important;
    -height: 160px !important;
    -background-size: auto !important;
    -background-width: 120px !important;
    background-size: contain !important;
}
.so-widget-sow-post-carousel {
    padding: 20px;
}
*/





.iofeaturedblock .entry-title {
    text-align: center;
    border: none !important;
}


.fp-entry-content h2.entry-title {
    -padding: 1% 1% 1% 1%;
    -padding: 0% 1% 0% 1%;
    font-size: 18px;
    -padding: 1% 1% 1% 1%;
    -padding: 14px 0 14px 18px;
    padding: 0 0 0 18px;
}


#home-main-content {
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -justify-content: space-around;
    justify-content: space-between;
}

.fp-widgets-container {
    width: 100%;
}
.fp-news-container {
    width: 100%;
}

.fp-widgets-container h2.entry-title,
.fp-news-container h2.entry-title {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 7px;
}



.fp-widgets-content {
    -padding: 1% 1% 1% 1%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -justify-content: space-around;
    -justify-content: space-between;
    -justify-content: start;
    -align-items: flex-start;

    -flex-direction:column;
    justify-content: space-between;
    -align-content: space-between;
}

.fp-news-content {
    -padding: 1% 1% 1% 1%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -justify-content: space-around;
    justify-content: space-between;
}


.fp-entry-content {
    -width: 100%;
}


.fp-first-title {
    display: none;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 769px) {
    .fp-first-title {
        display: block;
    }
    .fp-widgets-container {
        width: 33%;
        order: 2;
        -border-left: thin dotted #07345b;
        -border-left: 1px solid #07345b;
        box-sizing:border-box;
    }
    .fp-news-container {
        width: 67%;
        -border-right: thin dotted red;
        -border-right: 1px solid #07345b;
        box-sizing:border-box;
    }
}

@media screen and (min-width: 1025px) {
    .fp-widgets-container {
        padding: 1%;
        width: 25%;
        order: 2;
        -border-left: thin dotted #07345b;
        box-sizing:border-box;
    }
    .fp-news-container {
        padding: 1%;
        width: 75%;
        -border-right: thin dotted red;
        box-sizing:border-box;
    }
}









.fp-widgets-container .fp-news-item {
    -width: 100%;
}



.fp-news-item {
    box-sizing:border-box;
    -border: thin solid #777;
    box-shadow: 1px 1px 3px #777;
    width: 100%;
    -max-width: 100%;
    -padding: 1%;

    -margin: 1%;
    margin: 5px 1% 1% 1%;
    -margin: 10px;
    -margin: 0px;

    transition: box-shadow .3s;
    border: 1px solid #ccc;
    -border: thin solid red !important;

    position: relative;
    padding-top: 65%;

    background-repeat: no-repeat;
    background-size: cover;
    -background-position: right 0px top -25px;
    background-position: right 0px top 10%;
}

@media screen and (min-width: 481px) {
    .fp-news-container .fp-news-item {
        width: 48%;
        padding-top: 31%;
    }
}

@media screen and (min-width: 769px) {
    .fp-news-container .fp-news-item {
        width: 48%;
        padding-top: 31%;
    }
}

@media screen and (min-width: 1025px) {
    .fp-news-container .fp-news-item {
        width: 31.33%;
        padding-top: 19%;
    }
}

@media screen and (max-width: 1024px) {
    .fp-news-item-2:last-child {
        display: none;
    }
}




.fp-news-item:hover {
    -box-shadow: 1px 1px 1px #777;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/*
.-fp-news-item-2:last-child {
    display: none;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .-fp-news-item:last-child {
        display: block;
    }
}
*/



.fp-news-item.box-collapsable {
    padding-top: 0;
}

.fp-news-item.box-collapsable .box-container {
    position: relative;
    top: 0;
    padding: 3%;
}

.fp-news-item.box-collapsable .box-container ul {
     margin: 5px 0px 5px 10px;
}
.fp-news-item.box-collapsable .box-container li {
    list-style: disc;
    margin: 10px;
}
.fp-news-item.box-collapsable .box-container li.list-item-prize {
    list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/ostryakov_medal_12x12.png');
}
.fp-news-item.box-collapsable .box-container li.list-item-anud {
    list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/anud_logo_12x12.png');
}

.fp-news-item.box-collapsable .entry-title {
     text-align: center;
}




.footer-copyright {
    text-align: center;
    padding: 15px;
    background-color: #f5f5f5;
    -border: 5px solid green;
    border: 1px solid #e9e9e9;
    font-size: 85%;
}




/* @media screen and (max-width: 1099px) { */
@media screen and (max-width: 1023px) {
    .menu-show-big {
        display: none !important;
    }
    /*
    .menu-show-big.current-menu-item,
    .menu-show-big.current-menu-ancestor,
    .menu-show-big.current-menu-parent {
        display: inline-block !important;
    }
    */
}

/*
.menu-show-small.current-menu-ancestor,
.menu-show-small.current-menu-parent {
    display: none !important;
}
*/
/* @media screen and (min-width: 1100px) { */
@media screen and (min-width: 1024px) {
    .menu-show-small {
        display: none !important;
    }
}






#fp-header .fp-header-bg {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    -background-size: contain;
    background-position: center;
    -background-attachment: fixed;
    -background-image: url("https://acanud.ru/wp-content/uploads/2019/03/cys_17_participants-1024x438.png");
    -background-image: url("http://www.elektropribor.spb.ru/upload/iblock/16f/79.jpg");
    -background-image: url("http://www.elektropribor.spb.ru/upload/iblock/fa2/86.jpg");
    transition: background 1s linear;

    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(7px);

}

#fp-header {
    z-index: 0;
    -display: flex;
    -justify-content: center;
    -align-items: center;
    background-color: #07345b;

    -overflow: auto;
    overflow: hidden;
    position: relative;

}


#fp-header .fp-header-container {
    -z-index: 100;
    -height: 30vh;
    -position: relative;
    -left: auto;
    -right: auto;
    min-height: 30vh;
    -width: 80%;
    -max-width: 100vh;
    -background-color: #ccc;
    -background-color: #000;
    -background-color: #07345b;
    -background-color: rgba(127,127,127,0.6);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
html[data-agent*="Trident"] #fp-header .fp-header-container {
    -background-color: rgba(0,0,0,0.1);
}
*/

#fp-header .fp-header-container h1 {
    color: #fff;
    text-shadow: 1px 1px 1px #777;
    text-align: center;
    font-size: 32px;
    margin: 0.2em 0.5em 0.2em 0.5em;
    max-width: 100%;
}
#fp-header .fp-header-container h3 {
    order: -1;
    -color: #fff;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #777;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin: 1.8em 1em 1.2em 1em;
    max-width: 100%;
}
#fp-header .fp-header-container a {
    display: inline-block;
    padding: 12px;
    border-radius: 0px;
    -background-color: #07345b;
    background-color: #0099ff;
    color: #fff;
    text-shadow: 1px 1px 1px #777;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
    margin: 1.5em 1em 1.5em 1em;
    max-width: 100%;

    -display: flex;
    -justify-content: center;
    -align-items: center;
}


/* IE10+ detection */
html[data-agent*="Trident"] #fp-header .fp-header-bg {
  -display: none;
}
/* IE10+ detection */
html[data-agent*="Trident"] #fp-header .fp-header-bg-ie {
  -display: block;
}

