/*
 Theme Name:   Anud Publisho
 Theme URI:    http://comsep.ru/anud-publisho/
 Description:  Anud Publisho Theme (Publisho Child)
 Author:       Vitaliy Shiegin
 Author URI:   http://comsep.ru
 Template:     publisho
 Version:      0.0.2
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         
 Text Domain:  anud-publisho
*/

.entry-content .attachment-post-thumbnail {
    -display: none;
}

.tribe-bar-disabled {
    display: none;
}

#site-navigation {
    box-shadow: none;
}

/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,900&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Ledger&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=cyrillic');


.site-title {
    -font-family: 'Montserrat', sans-serif;
    -font-family: 'Montserrat Alternates', sans-serif;
    -font-family: 'Kurale', serif;
    font-family: 'Vollkorn', serif;

    -font-family: 'Ledger', serif;
    -font-family: 'PT Serif', serif;
    -font-family: 'PT Serif Caption', serif;

    font-weight: normal !important;
    text-transform: none;
    -text-shadow: 0px 0px 15px red;
    -text-shadow: 0px 0px 15px yellow;
    -text-shadow: 2px 2px 15px #ee8822;
    text-shadow: 1px 1px 2px black, 2px 2px 15px #ee9933;
    -text-shadow: 0px 0px 2px black, 0px 0px 15px red;
    -text-shadow: 0px 0px 2px black;
}

.site-description {
    font-family: 'Vollkorn', serif;
}

.menu-item {
    font-family: 'Vollkorn', serif;
}


.site-content {
    padding: 10px 0 !important;
}

h1.entry-title {
    font-size: 36px !important;
}

.entry-header {
    margin: 0px 0px !important;
}

.panel-content .wrap {
    padding: 10px 0 !important;
}

*/




/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Prata&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic');


.content {
    padding-top: 0px;
    padding-bottom: 0px;
}

h1,h2,h3,h4,h5,h6 {
        font-family: "Open Sans", sans-serif;
}

.mythemes-page-header nav li:first-child:before{
    padding: 0px;
}
*/

/*
.hhome-menu {
    background-image: url('http://www.example.com/wp-content/uploads/2014/12/home.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 5px;
}
*/

.lang_flag.lang_flag_mobile {
    text-align: right;
    padding: 15px !important;
}
.lang_flag.lang_flag_desktop {
    display: none;
}
.lang_flag img {
    width: 20px;
}

@media screen and (min-width: 769px) {
    .lang_flag.lang_flag_desktop {
        display: block;
    }
    .lang_flag.lang_flag_desktop img {
        -width: 20px;
        -width: 140%;
    }
}

/*
.top-notice {
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } };
    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } };
    ooopacity:0;
}
*/

/*
.top-notice {
    text-decoration: underline !important;
    color: green;
}
.top-notice a {
    text-decoration: underline !important;
    color: green !important;
}
*/

.top-notice {
    height: 100%;
    bborder: thin solid red;
    line-height: 125%;
    -line-height: 170%;
}

.top-notice .top-notice-title {
    color: #d02030;
    font-weight: bold;
}

.top-notice ul {
    margin: 5px 0px 5px 10px;
}
.top-notice li {
    -margin: 5px;
    -border: thin solid red;
    list-style: disc;
    margin: 10px;
}

.top-notice li.top-notice-prize {
    list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/ostryakov_medal_12x12.png') !important;
}
.top-notice li.top-notice-anud {
    list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/anud_logo_12x12.png') !important;
}

.top-notice a {
    -text-decoration: underline !important;
    Ñcolor: green !important;
}

.themonic-logo {
    padding: 12px;
}


.title-alert {
    color: #d02030;
}


/*
.menu-item-with-medal > a {
    position: relative;
    padding-left: 22px !important;
}
.menu-item-with-medal > a:before {
    position: absolute;
    top: 4px;
    left: 2px;
    content:url('https://acanud.ru/wp-content/uploads/2019/02/ostryakov_medal_18x18.png')
}
*/


h1.entry-title {
    padding-top: 20px !important;
    padding-bottom: 15px !important;
}

.entry-content h2,
.entry-content h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.entry-content ul {
    margin-bottom: 8px;
}

h1.entry-title,
h2.entry-title,
.entry-content h2,
.entry-content h3 {
    -opacity: 0.6 !important;
    -text-transform: uppercase !important;
    color: #07345b;
}



.widget_nav_menu .current_page_item,
.widget_categories .current-cat {
    -background-color: #07345b;
    -background-color: #0099ff;
    color: #ffffff !important;
}
.widget_nav_menu .current_page_item a,
.widget_categories .current-cat a {
    -background-color: #07345b;
    background-color: #0099ff;
    color: #ffffff !important;
    font-weight: bold;
}
.widget_nav_menu .menu-item-object-page,
.widget_categories .cat-item,
.widget_nav_menu .menu-item {
    padding: 0px!important;
}
.widget_nav_menu .menu-item-object-page a,
.widget_categories .cat-item a,
.widget_nav_menu .menu-item a {
    text-transform: uppercase;
    ppadding-left: 7px;
    padding: 7px;
    -display: inline-block;
    display: block;
    font-size: 12px!important;
}
.widget_nav_menu .menu-item-object-page a:hover,
.widget_categories .cat-item a:hover,
.widget_nav_menu .menu-item a:hover {
    color: #ffffff !important;
    background-color: #0099ff !important;
}
/*
.menu-item-object-page a:hover {
    color: #ffffff !important;
    background-color: #0099ff!important;
}
*/

/*
.top-menu .current-page-ancestor,
.top-menu .current-menu-item {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.top-menu .current-page-ancestor a,
.top-menu .current-menu-item a {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
*/

/*
.top-menu .current-menu-item {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.top-menu .current-menu-item a {
    background-color: #0099ff !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
*/



/*
#main.wrapper {
    position: relative!important;
}
.wwidget-area {
    position: sticky;
    top: 0;
}

#recent-posts-2 {
    position: sticky!important;
    top: 0!important;
}
*/


#primary.site-content.frontpage {
    margin: 0;
    -margin: 2px;
    padding: 0;
    width: 100%;
    border: none;
}
#primary.site-content.frontpage .entry-header {
    -display: none;
}
#main.wrapper.frontpage {
    -border: 0;
}




.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-971e41e9e54d .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover span.overlay {
    -width: 120px !important;
    -height: 160px !important;
    -background-size: auto !important;
    -background-width: 120px !important;
    background-size: contain !important;
}


.so-widget-sow-post-carousel {
    padding: 20px;
}





.iofeaturedblock .entry-title {
    text-align: center;
    border: none !important;
}


.fp-entry-content h2.entry-title {
    -padding: 1% 1% 1% 1%;
    -padding: 0% 1% 0% 1%;
    font-size: 18px;
    -padding: 1% 1% 1% 1%;
    -padding: 14px 0 14px 18px;
    padding: 0 0 0 18px;
}

.fp-news-container {
    -padding: 2% 1% 2% 1%;
    padding: 1% 1% 1% 1%;
    -padding: 2% 2% 2% 2%;
    -padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    -justify-content: space-between;
}

.fp-news-item {
    box-sizing:border-box;
    -border: thin solid #777;
    box-shadow: 1px 1px 3px #777;
    width: 100%;
    -max-width: 100%;
    -padding: 1%;
    margin: 1%;
    -margin: 2%;

    transition: box-shadow .3s;
    -border-radius:10px;
    border: 1px solid #ccc;

    -border: 2px solid green;
    -padding-top: 65%;
    -height: 65%;
    position: relative;
    padding-top: 65%;
    -padding-top: 15%;

    background-repeat: no-repeat;
    background-size: cover;
    -background-position: right 0px top -25px;
    background-position: right 0px top 10%;

    -flex: 1;
    -flex: 1 1 100%;
}
@media screen and (min-width: 481px) {
    .fp-news-item {
        -margin: 1%;
        -width: 46%;
        width: 48%;
        -max-width: 46%;
        padding-top: 31%;
        -flex: 1 1 46%;
    }
/*
    .fp-news-item.box-item-1 {
        width: 100%;
    }
*/
}
@media screen and (min-width: 769px) {
    .fp-news-item {
        -margin: 1%;
        -width: 29.33%;
        width: 31.33%;
        -max-width: 29.33%;
        padding-top: 19%;
        -flex: 1 1 29.33%;
    }
/*
    .fp-news-item.box-item-1 {
        width: 64.66%;
    }
*/
}

@media screen and (min-width: 1025px) {
    .fp-news-item {
        -margin: 1%;
        -width: 21%;
        width: 23%;
        -max-width: 21%;
        padding-top: 14%;
        -flex: 1 1 21%;
    }
/*
    .fp-news-item.box-item-1 {
        width: 48%;
    }
*/
}

.fp-news-item:hover {
    -box-shadow: 1px 1px 1px #777;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.fp-news-item-2:last-child {
    display: none;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .fp-news-item:last-child {
        display: block;
    }
}



.-gazeta-img-box {
    width: 100%;
    padding-top: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    -background-position: right 0px top -25px;
    background-position: right 0px top 10%;
    border: thin solid red;

    -background-size: contain;
    -background-position: center;
}

/*
.gazeta-img-box.box-collapsable {
    padding-top: 0;
    -background-color: #f0f0f0 !important;
}
*/

.fp-news-item.box-collapsable {
    padding-top: 0;
    -background-color: #f0f0f0 !important;
    -position: relative;

    -display: flex;
    -justify-content: center;
    -align-items: center;
}

.fp-news-item.box-collapsable .box-container {
    position: relative;
    top: 0;
    padding: 3%;

    -vertical-align: middle;
    -display: flex;
    -justify-content: center;
    -align-items: center;
}

.fp-news-item.box-collapsable .box-container ul {
     margin: 5px 0px 5px 10px;
}
.fp-news-item.box-collapsable .box-container li {
    list-style: disc;
    margin: 10px;
}
.fp-news-item.box-collapsable .box-container li.list-item-prize {
    list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/ostryakov_medal_12x12.png');
}
.fp-news-item.box-collapsable .box-container li.list-item-anud {
    list-style-image: url('https://acanud.ru/wp-content/uploads/2019/02/anud_logo_12x12.png');
}

.fp-news-item.box-collapsable .entry-title {
     text-align: center;
}



/*
.gazeta-img-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -border: thin solid blue;
    -background-color: rgba(127,127,127,0.1);
}
.gazeta-img-box:hover:before {
    background-color: rgba(127,127,127,0);
}
*/

/*
.fp-cat-gazeta li:hover {
    box-shadow: 0px 0px 2px #777;
}

.fp-cat-gazeta .gazeta-img {
    width: 100% !important;
}
*/



.footer-copyright {
    text-align: center;
    padding: 15px;
    background-color: #f5f5f5;
    -border: 5px solid green;
    border: 1px solid #e9e9e9;
    font-size: 85%;
}



